__pycache__/
.cache/
*.ipynb 
*.pyc
*.sqlite3
*.swp
*.env
*.html
.tox/
stock.egg-info/
dist/
build/
venv27
venv34

# for ipython notebook
.ipynb_checkpoints/
Untitled.ipynb

# ansible
hosts
site.retry