apscheduler
numpy
flask
sqlalchemy
jinja2
requests
ipython
python-dateutil
PyMySQL
beautifulsoup4
pandas
matplotlib
Click
gunicorn
psycopg2

# ipython notebook
# also need sqlite3
pyzmq
tornado
jsonschema
