# web
flask
gunicorn
apscheduler
jinja2
marshmallow

# util
click
requests
python-dateutil
beautifulsoup4
xlrd
Quandl

# sql
sqlalchemy
psycopg2
PyMySQL

# math
ipython
pandas
matplotlib
scipy
scikit-learn
scipy
jupyter
