# web
flask
gunicorn
apscheduler
jinja2
marshmallow

# util
click
requests
python-dateutil
beautifulsoup4
xlrd
Quandl

# sql
sqlalchemy
psycopg2
PyMySQL
alembic

# math
pandas
matplotlib

# rabbitmq
pika

cffi
cryptography
