{% extends "base.html" %}


{% block content %}
  <h2>{{ company.name }}</h2>
  <table>
    <tr>
      <th>Code</th>
    </tr>
    <tr>
      <td>{{ company.code }}</td>
    </tr>
  </table>
  <div id="container"></div>
  <script type="text/javascript">
    $(function(){
        $.getJSON('/api/{{ company.id }}', function (data) {
        $('#container').highcharts('StockChart', {
            rangeSelector : {
            selected : 1
        },
            title : {
            text : 'TITLE TEXT'
        },
            series : [{
                name : 'NAME',
                data : data.day_info_list,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });
    });
  </script>
{% endblock %}
