{% extends "base.html" %}


{% block title %}{{ company.name }} ({{ company.code }}) | {{ super() }}{% endblock %}
{% block keywords %}{{ company.name }},{{ company.code }},{{ super() }}{% endblock %}

{% macro show_signal(key) %}
{% if company.search_field %}
{% set s = company.search_field.w.signal(key) %}
{% if s != "" %}
 <span class="label label-primary">{{ s }}</span>
 {% endif %}
{% endif %}
{% endmacro %}

{% block content %}
  <h1>{{ company.name }}</h1>
  <table>
    <tr>
      <th>Code</th>
      <th>最終日の終値</th>
      <!-- TODO: reactで説明文をpopup表示 -->
      <th>明日の予想安値(68%)</th>
      <th>明日の予想安値(95%)</th>
    </tr>
    <tr>
      <td>{{ company.code }}</td>
      <td></td>
      <td>{{ company.search_field.ratio_1sigma_low_minus_closing }}</td>
      <td>{{ company.search_field.ratio_2sigma_low_minus_closing }}</td>
    </tr>
  </table>
  <p>予想安値は、前日の終値よりも安値が下回った場合の予想価格を算出(直近20日の下回った日から算出)</p>

  <h2>シグナル</h2>

  <dl class="dl-horizontal">
    <dt>25日移動平均線乖離</dt><dd>{{ show_signal("ratio_closing_minus_rolling_mean_25") }}</dd>
    <dt>ボリンジャーバンド</dt><dd>{{ show_signal("interval_closing_bollinger_band_20") }}</dd>
    <dt>RSI</dt><dd>{{ show_signal("closing_rsi_14") }}</dd>
    <dt>MACD</dt><dd>{{ show_signal("closing_macd_minus_signal") }}</dd>
  </dl>
  <p>現在はもみ合い相場での判定. 今後はもみ合いと上昇・下降相場に応じたシグナルを作成予定<p>

  <div id="container" style="min-width: 740px; height: 420px; margin: 0 auto"></div>
  <script type="text/javascript">
    $(function(){
        $.getJSON('/api/{{ company.id }}', function (data) {
            $('#container').highcharts('StockChart', {
                chart: {height: 1000},
                rangeSelector: {selected: 1},
                yAxis: [
                    {title: {text: 'OHLC'}, height: '60%'},
                    {title: {text: 'Volume'}, height: '10%', top: '60%'},
                    {title: {text: 'RSI'}, height: '10%', top: '80%'},
                    {title: {text: 'MACD'}, height: '10%', top: '90%'},
                    {title: {text: 'stochastic'}, height: '10%', top: '70%'},
                ],
                series : data.series
            });
        });
    });
  </script>
{% endblock %}
