{% extends "base.html" %}

{% macro radio(v, key, label) %}
 <input type="radio" name="{{ key }}" value="{{ v }}"
        {% if request.args.get(key) == v|string %}checked{% endif %}>
 {{ label }}
{% endmacro %}

{% block content %}
  <script type="text/javascript">
    $(function(){
     $("form").on("change", function(){ location.href = "?" + $("form").serialize(); })
    });
  </script>
  <h2>企業一覧</h2>
  <h3>最終更新日 {{ last_date }}</h3>

  <table>
    <tr>
      <th>企業数</th>
    </tr>
    <tr>
      <td>{{ company_list|length }}</td>
    </tr>
  </table>

  <form action="{{ url_for('index') }}" method="get">
    {% for v in [10, 5, -5, -10] %}
      {% set label = "%s%%%s" % (v|abs, v >= 0 and "以上" or "以下") %}
      {{ radio(v, "ratio_closing_minus_rolling_mean_25", "25日移動平均線 %s" % label) }}
    {% endfor %}
    <br>
    {{ radio("70", "closing_rsi_14", "RSI 70%以上(売り)") }}
    {{ radio("30", "closing_rsi_14", "RSI 30%以下(買い)") }}
    <br>
    {{ radio("1",  "closing_macd_minus_signal", "MACD ゴールデンクロス(買い)") }}
    {{ radio("-1", "closing_macd_minus_signal", "MACD デッドクロス(売り)") }}
    <br>
    {{ radio(-3, "interval_closing_bollinger_band_20", "-2~-3シグマ(とっても買い)") }}
    {{ radio(-2, "interval_closing_bollinger_band_20", "-1~-2シグマ(買い)") }}
    {{ radio(-1, "interval_closing_bollinger_band_20", "0~-1シグマ") }}
    {{ radio(1,  "interval_closing_bollinger_band_20", "0~1シグマ") }}
    {{ radio(2,  "interval_closing_bollinger_band_20", "1~2シグマ(売り)") }}
    {{ radio(3,  "interval_closing_bollinger_band_20", "2~3シグマ(とっても売り)") }}
    (売買指標は、もみ合いの相場の場合)
  </form>
  <ul>
    {% for c in company_list %}
     <li><a href="{{ url_for('company', id=c.id) }}">{{ c.name }}</a></li>
   {% endfor %}
  </ul>
{% endblock %}
