{% extends "base.html" %}

{% macro label_number(v) %}
 {{ v }}%{% if v >= 0 %}以上{% else %}以下{% endif %}
{% endmacro %}

{% block content %}
  <script type="text/javascript">
    $(function(){
     $("form").on("change", function(){ location.href = "?" + $("form").serialize(); })
    });
  </script>
  <h2>企業一覧</h2>
  <h3>最終更新日 {{ last_date }}</h3>
  <form action="{{ url_for('index') }}" method="get">
    {% for v in [10, 5, -5, -10] %}
    <input type="radio" name="ratio_closing_minus_rolling_mean_25" value="{{ v }}"
           {% if v|string == request.args.get("ratio_closing_minus_rolling_mean_25") %}checked{% endif %}>
    25日移動平均線 {{ label_number(v) }}
    {% endfor %}
    <br>
    {% for v in [70, -30] %}
    <input type="radio" name="closing_rsi_14" value="{{ v }}"
           {% if v|string == request.args.get("closing_rsi_14") %}checked{% endif %}>
    RSI {{ label_number(v) }}
    {% endfor %}
    <!-- <input type="submit" value="更新"> -->
  </form>
  <ul>
    {% for c in company_list %}
     <li><a href="{{ url_for('company', id=c.id) }}">{{ c.name }}</a></li>
   {% endfor %}
  </ul>
{% endblock %}
